body, h1, p {
  margin: 0;
  padding: 0;
}

select, textarea, input {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  resize: none;
}

.progress-bar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 2px;
}

.progress-bar .completed-mark, .progress-bar .incomplete-mark {
  height: 10px;
}
.progress-bar .completed-mark {
  background-color: #c5924e;
}
.progress-bar .incomplete-mark {
  background-color: #777;
}

.completed-progress-bar {
  height: 10px;
  background-color: #c5924e;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  cursor: pointer;
  position: relative;
}

.checkbox:hover, .checkbox.hover {
  box-shadow: 0 0 5px #c5924e;
}

.checkbox.checked:hover, .checkbox.checked.hover {
  box-shadow: 0 0 5px #999;
}

.checkbox.checked::after {
  content: "";
  display: block;
  background-color: #c5924e;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 1px;
  top: 1px;
}

.button {
  border: 1px solid #999;
  padding: 10px 30px;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
}

.button:hover {
  background-color: #c5924e;
  color: #fff;
  font-weight: 500;
}

.main-body {
  padding: 50px;
  font-family: "Raleway", sans-serif;
}

.prompt {
  color: #583d1f;
  font-family: "Cinzel", serif;
  text-align: center;
  text-wrap: balance;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.buttons {
  margin-top: 50px;
  text-align: center;
}

.checklist {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px;
}

.heading {
  font-weight: 500;
}

#bulk-select-options {
  text-align: center;
  margin-bottom: 30px;
}

#bulk-select-options .button {
  font-size: 13px;
}

.flash-message {
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  column-gap: 20px;
}

.flash-message .icon {
  align-self: center;
}
.flash-message .icon img {
  width: 25px;
}
.flash-message p {
  margin-bottom: 10px;
  line-height: 24px;
}

.dropdown, textarea, input[type=number], .international-phone-number {
  border: 1px solid #999;
  padding: 5px;
}

.dropdown {
  font-size: 14px;
}

input[type=number] {
  width: 50px;
}

#add-button {
  width: 30px;
  filter: invert(66%) sepia(24%) saturate(922%) hue-rotate(355deg) brightness(88%) contrast(86%);
  cursor: pointer;
}

.remove-button {
  width: 25px;
  filter: invert(66%) sepia(2%) saturate(4%) hue-rotate(338deg) brightness(94%) contrast(84%);
  cursor: pointer;
}

#allergy-input {
  width: 100%;
}

#flight-info {
  margin-top: 30px;
}

.two-column-auto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
  row-gap: 5px;
  justify-content: center;
}

@media screen and (max-aspect-ratio: 1.2) {
  .main-body {
    padding-top: 100px;
  }
  #event-form .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  #event-form .mini-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
  }
  #flight-info .mini-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-aspect-ratio: 1.2) {
  body {
    background-color: #f9f9f9;
    padding: 100px 0;
  }
  main {
    width: 60%;
    margin: auto;
    background-color: #fff;
  }
  #event-form {
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
  }
  #event-form .heading, #event-form .checkbox {
    justify-self: center;
  }
  #flight-info {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    row-gap: 5px;
    justify-content: center;
  }
  #flight-info div {
    justify-self: center;
  }
  #flight-info .heading {
    justify-self: left;
  }
  .remove-button {
    align-self: center;
  }
}

/*# sourceMappingURL=rsvp.css.map */
